.react-datepicker__input-container {
    position: relative;
    display: block !important;
}
.react-datepicker-wrapper {
    display: block !important;
}
.react-datepicker__header select {
    font-family: rubik !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 16px !important;
    color: #2A2C2F !important;
    opacity: 0.8 !important;
    background-color: transparent !important;
	margin-right: 20px !important;
}

.react-datepicker
{
	border: 1px solid #e0e4eb !important;
	box-sizing: border-box;
	background: #FFFFFF;
	border-radius: 8px !important;
	width: 100% !important;
	max-width: 100%!important;

}

.react-datepicker-popper[data-placement^="top"] {
    padding-bottom: 10px;
    width: 100% !important;
    max-width: 100% !important;
}

.react-datepicker__header {
    text-align: center;
    background-color: #fff !important;
    border-top-left-radius: 8px !important;
	border-top-right-radius: 8px !important;
    padding: 32px 0px 20px 0px !important;
	border-top: 0px !important;
	border-left: 0px !important;
	border-right: 0px !important;
	border-bottom: 1px solid #e0e4eb !important;
}

.react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle {
    display: none !important;
}

.react-datepicker-popper[data-placement^="bottom"] {
    padding-top: 8px !important;
	width: 100% !important;
	max-width: 100%!important;
}

.react-datepicker__day
{
	margin: 0.7rem !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-size: 17px !important;
	font-family: rubik !important;
	width: 36px !important;
	line-height: 2rem !important;
	height: 31px !important;
}

.react-datepicker__month {
	margin:10px 9px 10px 9px !important;

}

.react-datepicker__day--keyboard-selected
{
	border-radius: 4px !important;
	background-color: #FF9425 !important;
}

.react-datepicker__current-month
{
	font-family: Rubik !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-size: 16px !important;
	color: #2A2C2F !important;
	opacity: 0.8 !important;
	text-transform: uppercase !important;
}

.react-datepicker__day--selected
{
	border-radius:4px !important;
	background-color: #FF9425 !important;
}

.react-datepicker__day-name
{
	font-family: rubik !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-size: 14px !important;	
	color: #2A2C2F !important;
    opacity: 0.5 !important;
	margin: 1rem 1rem 0px 1rem !important;
}  

.react-datepicker__month-container
{
	width: 100% !important;
}

.calendar-cstm .react-datepicker__input-container {
    display: block !important;
}

